/* Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

#home {
  padding: 5rem 0.8rem;
  background-color: #f8f8ff;
}
.profile-img {
  max-width: 100%;
  border-radius: 50%;
}
footer {
  background-color: #343a40;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

.profile-img {
  max-width: 500px; /* ukuran default di desktop */
}

@media (max-width: 1200px) {
  .profile-img {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .text-greet {
    font-size: 1.8rem;
  }

  .text-deskripsi-greet {
    font-size: 1rem;
  }
}

@media (max-width: 300px) {
  .logo-navbar {
    display: none;
  }

  .profile-img {
    max-width: 200px;
  }
}
